@import url(https://fonts.googleapis.com/css?family=Montserrat|Short+Stack);
:root {
  font-size: 16px; }

/* 							to insert img
.logo {
 		path('logo.png')left top no-repeat;/
}
*/
/* 				to use
ul {
	@include no-bullets;
 }
*/
/*		to use:
&:hover {
		color: darker($red);
	}
*/
* img {
  width: 100%;
  max-height: 5%;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 10px 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  * img:hover {
    -webkit-filter: grayscale(100%); }
